<%# nav bar %>
<div class="nav-container">
  <div class="navbar">
    <%= link_to root_path do%>
      <div class="logo">
        <!-- logo -->
      </div>
    <% end %>
    <div class="btn-containers">
      <div>
        <ul class="nav-btns">
          <%= link_to gears_path do %>
            <li class="nav-btn">Browse Gear</li>
          <% end %>
          <%= link_to dashboard_path do %>
            <li class="nav-btn">List Gear</li>
          <% end %>
          <%= link_to rented_path do %>
            <li class="nav-btn">My Rentals</li>
          <% end %>
        </ul>
      </div>
      <div class="avatar" id="profile-avatar">
        <div class="avatar-pic">
          <!-- avatar image -->
        </div>
      </div>
    </div>
  </div>
</div>
