<div class="nav-container">
  <div class="navbar">
    <%= link_to root_path do%>
      <div class="logo">
        <!-- logo -->
      </div>
    <% end %>
    <div class="btn-containers">
      <div>
        <ul class="nav-btns">
          <li class="nav-btn">Browse Gear</li>
          <%= link_to dashboard_path do %>
            <li class="nav-btn">List Gear</li>
          <% end %>
          <%#= link_to dashboard_path do (should link to the rentals index page)%> 
            <li class="nav-btn">My Rentals</li>
            <%# <% end %> %>
        </ul>
      </div>
      <div class="avatar">
        <div class="avatar">
          <!-- avatar image -->
        </div>
      </div>
    </div>
  </div>
</div>
