<div class="card-gear">
  <img src="https://images.unsplash.com/photo-1512821062947-6eda5253c3e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" />
  <div class="card-gear-infos">
    <div>
      <%= link_to gear_path(gear), class: 'gear-card-link' do %>
      <h2> <%= gear.brand %></h2>
      <% end %>
      <p> <%= gear.description %></p>
    </div>
    <h2 class="card-gear-pricing"> $<%=gear.price_per_day%></h2>
    <img src="https://images.unsplash.com/photo-1492681290082-e932832941e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" class="card-gear-user avatar-bordered" />
  </div>
</div>
