<div class="container">
	<h2>What sports gear would you like to rent?</h2>
	<ul class="categories">
		<% Gear::CATEGORIES.each do |category| %>
			<%= link_to gears_path(category: category[:name]) do %>
				<div class="category" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(101, 24, 7, 0.19)), url(<%= category[:photo] %>)">
					<li><h2><%= category[:name] %></h2></li>
				</div>
			<% end %>
		<% end %>
	</ul>
</div>
