<div class="container">
	<h1>SportBnB</h1>
	<ul class="categories">
		<% @categories.uniq.each do |category| %>
			<div class="category">
				<li><%= category %></li>
			</div>
		<% end %>
	</ul>
</div>