<div class="container">
	<h1>SportBnB</h1>
	<ul class="categories">
		<% Gear::CATEGORIES.each do |category| %>
			<%= link_to gears_path(category: category[:name]) do %>
				<div class="category">
					<li><%= category[:name] %></li>
				</div>
			<% end %>
		<% end %>
	</ul>
</div>
