<div class="container mt-5">
  <div class="listing-images">
    # carousel image
  </div>
  <div class="rental-details">
    <div class="create-banner">
      <h1>Post your Listing</h1>
    </div>
    <div class="listing-form">
      <%= render "form" %>
    </div>
  </div>
</div>
