<div>
  <h1>Gear List</h1>
  <div>
    <% @gears.each do |gear| %>
      <%= gear.brand %>
      <%= gear.model %>
      <%= gear.category %>
      <%= gear.description %>
    <% end %>
  </div>
</div>
