<div class="container mt-5">
  <div class="rental-details">
    <div class="create-banner">
      <h2 class="mb-4">Add your gear</h2>
    </div>
    <div class="listing-form">
      <%= render "form" %>
    </div>
  </div>
</div>
