.left-wrap {
  border: lightgrey 1px solid;
}

.size > input {
  display: inline;
}

.gear-renter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: absolute;
  right: 16px;
  top: -20px;
}

#favcolor {
  background: none;
  padding: 0;
  border: none;
}
