<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <%= render 'components/sign_up' %>
</div>
<div class="container mt-5 mb-5">
  <h2 class="mb-5" id="sign-up-dash">Explore sports gear</h2>
  <%= render 'gears/categories'%>
</div>
