
.category > li > h2 {
	font-size: 20px;
	color: #ffffff;
}

.categories {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	list-style: none;
	padding: 20px 20px;
	margin: 20px 20px;
}

.category {
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 30px;
	height: 140px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.category > li {

}
