.card-gear {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-gear > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-gear h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-gear p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-gear .card-gear-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-gear-infos .card-gear-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-gear-user .avatar-bordered {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

