.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  justify-content: space-between;

  .nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

    .nav-btn {
      margin-right: 40px;
    }
  }
}

.avatar, .logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: gray;
}

.btn-containers {
  display: flex;
  width: 50%;
}

.show {
  // display: block;
}

#avatar-drop-down {
  // display: none;
  position: relative;
}

#navbarDropdown {
  &:hover {
    cursor: pointer;
  }
}

.nav-item {
  .active {
    color: white;
    font-weight: bold;
    transform: scale(1.1);
  }
}

.avatar-icon {
  list-style: none;
  float: right;
  i {
    right: 16px;
  }
}
